/* .card-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition:
    transform 5s ease,
    background-position 5s ease,
    filter 1s ease;

  filter:
    brightness(0.75)
    contrast(1.1)
    saturate(1.1);
}

.card:hover .card-bg {
  transform: scale(1.2);

  background-position: center;

  filter:
    brightness(1)
    contrast(1.15)
    saturate(1.2);
} */

.custom-text{
  color: white;
}